body {
  height: 100vh;
  margin: 10;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(
    141deg,
    #76eeba 0%,
    #1fc8db 51%,
    #2cb5e8 75%
  );
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-pack: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 100px;
  letter-spacing: 0.2px;
}
.header img {
  margin-left: 10px;
}

.instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-pack: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10px;
}
.instructions p {
  width: 25%;
  text-align: center;
  font-size: 0.9em;
  color: white;
}

.locationInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-pack: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}
.locationInput input {
  padding: 10px 170px;
  border: none;
  border-radius: 2px;
  outline: none;
  background: #e8e8e8;
  padding-left: 10px;
  -webkit-box-shadow: 1px 1px 2px #333;
  box-shadow: 1px 1px 2px #333;
}
.locationInput a {
  padding: 10px 18px;
  border-radius: 2px;
  margin-left: 4px;
  border: none;
  background: rgb(27, 27, 34);
  color: #fff;
  -webkit-box-shadow: 1px 1px 4px #333;
  box-shadow: 1px 1px 4px #333;
  text-decoration: none;
}

.homeBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-pack: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}
.homeBtn button {
  padding: 10px 22px;
  border-radius: 2px;
  margin-left: 4px;
  border: none;
  background: #a8a8a8;
  color: #fff;
  -webkit-box-shadow: 1px 1px 4px #333;
  box-shadow: 1px 1px 4px #333;
}

.weatherLocation {
  color: #595959;
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

.weatherCardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-pack: center;
  box-orient: vertical;
  box-direction: normal;
  box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #797979;
  margin-top: 60px;
}
.weatherCardContainer h4 {
  color: #a8a8a8;
}
.weatherCardContainer .weatherCard {
  min-height: 420px;
  min-width: 420px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 4px #333;
  box-shadow: 1px 1px 4px #333;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
}
.weatherCardContainer .weatherCard img {
  margin-top: -60px;
}
.weatherCardContainer .weatherCard .conditionsOverview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  box-align: center;
  box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  margin-top: 160px;
  min-height: 350px;
}
.weatherCardContainer .weatherCard .conditionsOverview p:nth-child(1) {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: -20px;
}
.weatherCardContainer .weatherCard .conditionsOverview p:nth-child(2) {
  font-size: 1.2em;
}
.weatherCardContainer .weatherCard .conditionDetails {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;
  font-size: 0.9em;
  color: #595959;
}
.weatherCardContainer .weatherCardError {
  min-height: 320px;
  min-width: 320px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 4px #333;
  box-shadow: 1px 1px 4px #333;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  box-align: center;
  box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.weatherCardContainer .weatherCardError p {
  width: 70%;
  text-align: center;
}
.weatherCardContainer .weatherCardError button {
  padding: 10px 22px;
  border-radius: 2px;
  margin-left: 4px;
  border: none;
  background: #ec4e20;
  color: #fff;
  -webkit-box-shadow: 1px 1px 4px #333;
  box-shadow: 1px 1px 4px #333;
  margin-top: 20px;
}

.loading {
  height: 200px;
  width: 50%;
  margin: auto;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-pack: center;
  box-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.loading .loadingIcon {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  -webkit-animation: rotateLoading 1.5s ease-in-out infinite;
  animation: rotateLoading 1.5s ease-in-out infinite;
}
@-webkit-keyframes rotateLoading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotateLoading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.error {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  box-align: center;
  box-pack: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.error p {
  margin-top: 20px;
}
.error button {
  padding: 10px 22px;
  border-radius: 2px;
  margin-left: 4px;
  border: none;
  background: #a8a8a8;
  color: #fff;
  -webkit-box-shadow: 1px 1px 4px #333;
  box-shadow: 1px 1px 4px #333;
  margin-top: 30px;
  cursor: pointer;
}
